@model IEnumerable<KiiSec.Models.Organization>

@{
    ViewData["Title"] = "Список организаций";
}

<h1>Список организаций</h1>

<p>
    <a asp-action="Register">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                    @Html.ActionLink("Изменить", "Edit", new { organizationId = item.ID }) |
                    @Html.ActionLink("Детали", "Details", new { organizationId = item.ID }) |
                    @Html.ActionLink("Удалить", "Delete", new { organizationId = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
